/* Stijlen voor de footer */
footer {
  padding: 4rem 8rem;
  background-image: url("/assets/svg/footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 3rem;
  @media screen and (max-width: 992px) {
    background-size: 800%;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 1rem;
    justify-items: start;
  }
  img {
    &.logo {
      width: 75%;
      @media screen and (max-width: 992px) {
        width: 40%;
      }
    }

    &.icon {
      padding-block-start: 1rem;
      width: 50px;
      margin-inline-end: 1rem;
      @media screen and (max-width: 992px) {
        margin-inline-end: 0.5rem;
      }
    }
  }
  .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  a,
  p {
    color: var(--licht-roze);
    font-size: 1.4rem;
    @media screen and (max-width: 992px) {
      font-size: 1.2rem;
    }
    &.icon {
      text-decoration: none;
    }
  }
}
