.intro {
  margin: 3rem 0 0 8rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
  align-items: center;

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    margin: 1rem;
  }
  img {
    width: 40%;
    &.full-width {
      width: 100%;
    }
  }
}
.intro-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Changed from space-between */
  text-align: center;
  row-gap: 0;
  flex-wrap: wrap; /* Allow wrapping */
}

.keuzeblock {
  padding: 8rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  text-wrap: balance;
  position: relative;
  @media screen and (max-width: 992px) {
    padding: 2rem 0;
  }
  a {
    text-decoration: underline;
    font-family: "IM Fell DW Pica", sans-serif;
  }

  h2 {
    text-wrap: nowrap;
  }
  h2,
  p {
    color: var(--licht-roze);
    text-wrap: balance;
    margin-block: 2rem;
    @media screen and (max-width: 992px) {
      margin-block: 1rem;
    }
    text-decoration: none;
  }
  a {
    color: var(--licht-roze);
    text-decoration: none;
  }
  img {
    width: 100px;
    height: 100px;
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}

.keuzeblock-management {
  width: 540px;
  padding: 8rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 125% 125%; /* Changed from cover to exact fit */
  background-image: url("/assets/svg/groenblok_smal.svg");
  align-items: center;
  justify-content: center;
  overflow: visible; /* Add this to ensure overflow is visible */
  z-index: 1; /* Add this to ensure the element is above the background */
  margin-right: -50px; /* Add this to create 10px overlap */
  @media screen and (max-width: 992px) {
    background-size: 200% 200%; /* Changed from cover to exact fit */
    margin-right: 0;
    margin-bottom: -10px; /* Creates vertical overlap on mobile */
    background-position: 50% 50%;
    padding: 1rem 0;
    width: 100%;
  }
}

.keuzeblock-mojo {
  margin-bottom: 0;
  padding: 8rem;
  width: 500px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 40%;
  background-size: 135% 135%; /* Changed from cover to exact fit */
  background-image: url("/assets/svg/oranjeblok_smal.svg");
  align-items: center;
  justify-content: center;
  overflow: visible; /* Add this to ensure overflow is visible */
  margin-left: -50px; /* Add this to create 10px overlap */

  @media screen and (max-width: 992px) {
    padding: 1rem 0;
    margin-left: 0;
    width: 100%;
    background-position: 50% 50%;
    background-size: 200% 200%; /* Changed from cover to exact fit */
  }
}

.keuzeblock-mojo,
.keuzeblock-management {
  transition: transform 0.5s ease;
}

.keuzeblock-mojo:hover,
.keuzeblock-management:hover {
  transform: scale(1.05);
}

.underline {
  text-decoration: underline !important;
}

.contents {
  display: contents;
}

.home-toelichting-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 6rem 6rem;

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    gap: 1rem;
  }
  img {
    width: 100%;
    @media screen and (max-width: 992px) {
      display: block; /* Add this */
      margin: 0 auto; /* Add this */
    }
  }
}

.quote-container {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-block: 4rem;
  @media screen and (max-width: 992px) {
    padding-block: 2rem;
  }
  h3 {
    width: 50%;
    font-size: 4rem;
    color: var(--bruin);
    @media screen and (max-width: 992px) {
      font-size: 2rem;
      width: 75%;
    }
  }
}
