@import url("./fonts.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./home.css");
@import url("./mojo.css");
@import url("./management.css");

/* Kleurcodes: */

:root {
  --groen: #7e8a3d;
  --bruin: #643e3b;
  --oranje: #e7632d;
  --roze: #f0c1d3;
  --licht-roze: #faf0ef;
}

/* Stijlen voor de globale styles */

/* Stijlen voor de body */
body {
  margin: 0;
  background-color: var(--licht-roze);
  opacity: 0;
  transition: opacity 0.5s ease;
}
body.loaded {
  opacity: 1;
}

/* Stijlen voor de main content */
h1 {
  font-family: "IM Fell DW Pica", sans-serif;
  color: var(--bruin);
  font-size: 4rem;
  font-weight: normal;
  @media screen and (max-width: 992px) {
    font-size: 3rem;
    margin-block: 1.5rem;
  }
}

h2 {
  font-family: "IM Fell DW Pica", sans-serif;
  color: var(--bruin);
  font-size: 2.5rem;
  font-weight: normal;
  @media screen and (max-width: 992px) {
    font-size: 1.5rem;
  }
  &.oranje {
    color: var(--oranje);
  }
}

h3 {
  font-family: "IM Fell DW Pica", sans-serif;
  color: var(--oranje);
  font-size: 2.5rem;
  font-weight: normal;
  margin-block: 0;

  @media screen and (max-width: 992px) {
    font-size: 1.5rem;
  }

  &.bruin {
    color: var(--bruin);
    text-align: center;
  }
}

h4 {
  font-family: "IM Fell DW Pica", sans-serif;
  color: var(--groen);
  font-size: 2rem;
  font-weight: normal;
  margin-block: 0;

  @media screen and (max-width: 992px) {
    font-size: 1.25rem;
  }

  &.oranje {
    color: var(--oranje);
    margin-block-start: 2rem;
    @media screen and (max-width: 992px) {
      margin-block-start: 1rem;
    }
  }
}

h5 {
  font-family: "EB Garamond", sans-serif;
  color: var(--groen);
  font-size: 1.75rem;
  font-weight: normal;
  margin-block: 0;

  @media screen and (max-width: 992px) {
    font-size: 1.25rem;
  }
}

p {
  font-family: "EB Garamond", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--bruin);
  font-size: 1.3rem;
  line-height: 1.6;
  &.oranje {
    color: var(--oranje);
  }

  @media screen and (max-width: 992px) {
    font-size: 1.1rem;
    margin-block: 0.5rem;
  }
}

.button {
  transition: transform 0.5s ease;
  font-family: "IM Fell DW Pica", sans-serif;
  color: var(--licht-roze);
  border: none;
  font-size: 1.5rem;
  height: 70px;
  min-height: 54px;
  max-width: 340px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-inline: 2.5rem;
  position: relative;
  overflow: visible;
  z-index: 1;
  background-color: transparent;
  background-image: none; /* Remove background from main element */
  text-wrap: nowrap;
  @media screen and (max-width: 992px) {
    padding-inline-start: 1.5rem;
    height: 65px;
    font-size: 1.4rem;
  }
}

.button::after {
  content: "";
  display: inline-block;
  width: 25px; /* Adjust based on your SVG size */
  height: 25px; /* Adjust based on your SVG size */
  background-image: url("/assets/svg/pijl_lilith_02.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  vertical-align: middle;
  /* Add these styles for mobile */
  @media screen and (max-width: 992px) {
    width: 25px; /* Slightly smaller on mobile */
    height: 25px;
    margin-left: 8px;
    display: inline-block !important; /* Force display on mobile */
    position: relative;
  }
}

.buttonbruinicon::after {
  background-image: url("/assets/svg/pijl_lilith_02_bruin.svg");
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 140% 140%;
  background-repeat: no-repeat;
  z-index: -1;
  background-position: 100%;
  transform: scaleY(1.2);
  transform-origin: center;
  transition: transform 0.5s ease;

  @media screen and (max-width: 992px) {
    background-position: 55%;
    background-size: 130% 130%;
  }
}

.button:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

/* Button variants with background images on pseudo-elements */
.button-oranje-1 {
  max-width: 395px;
}

.button-oranje-1::before {
  background-image: url("/assets/svg/Button_1_oranje.svg");
  background-position: 55%;
  @media screen and (max-width: 992px) {
    background-position: 60%;
  }
}

.button-roze-1::before {
  background-image: url("/assets/svg/Button_1_roze.svg");
  background-position: 42.5%;
  background-size: 120% 120%;
}

.button-bruin-1 {
  justify-content: center;
  &::before {
    background-image: url("/assets/svg/Button_1_bruin.svg");
    background-position: 45%;
    background-size: 130% 130%;
    @media screen and (max-width: 992px) {
      background-position: 60%;
    }
  }
}

.button-groen-1::before {
  background-image: url("/assets/svg/Button_1_groen.svg");

  background-position: center;
  background-size: 125% 125%;
  @media screen and (max-width: 992px) {
    background-position: 70%;
  }
}
.button-groen-1-afspraak {
  justify-content: center;
  padding: 0;
  @media screen and (max-width: 992px) {
    justify-content: start;
    padding-inline-start: 3rem;
  }
  &::before {
    background-image: url("/assets/svg/Button_1_groen.svg");
    background-position: 50%;
    background-size: 125% 125%;

    @media screen and (max-width: 992px) {
      background-position: 70%;
    }
  }
}

.button-groen-2::before {
  background-image: url("/assets/svg/Button_2_groen.svg");
  background-position: 60%;
  background-size: 110% 110%;
}

.button-groen-3::before {
  background-image: url("/assets/svg/Button_3_groen.svg");
}
