@import url("./fonts.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./home.css");
@import url("./mojo.css");
@import url("./management.css");

/* Kleurcodes: */

:root {
  --groen: #7e8a3d;
  --bruin: #643e3b;
  --oranje: #e7632d;
  --roze: #f0c1d3;
  --licht-roze: #faf0ef;
}

/* Stijlen voor de globale styles */

/* Stijlen voor de body */
body {
  margin: 0;
  background-color: var(--licht-roze);
  opacity: 0;
  transition: opacity 0.5s ease;
}
body.loaded {
  opacity: 1;
}

/* Stijlen voor de main content */
h1 {
  font-family: "IM Fell DW Pica", sans-serif;
  color: var(--bruin);
  font-size: 4rem;
  @media screen and (max-width: 992px) {
    font-size: 3rem;
    margin-block: 1.5rem;
  }
}

h2 {
  font-family: "IM Fell DW Pica", sans-serif;
  color: var(--bruin);
  font-size: 3rem;
  font-weight: normal;
  @media screen and (max-width: 992px) {
    font-size: 2rem;
  }
}

h3 {
  font-family: "IM Fell DW Pica", sans-serif;
  color: var(--oranje);
  font-size: 2.5rem;
  font-weight: normal;
  margin-block: 0;

  @media screen and (max-width: 992px) {
    font-size: 1.5rem;
  }
}

h4 {
  font-family: "IM Fell DW Pica", sans-serif;
  color: var(--groen);
  font-size: 2rem;
  font-weight: normal;
  margin-block: 0;

  @media screen and (max-width: 992px) {
    font-size: 1.25rem;
  }

  &.oranje {
    color: var(--oranje);
    margin-block-start: 2rem;
    @media screen and (max-width: 992px) {
      margin-block-start: 1rem;
    }
  }
}

h5 {
  font-family: "EB Garamond", sans-serif;
  color: var(--groen);
  font-size: 1.75rem;
  font-weight: normal;
  margin-block: 0;

  @media screen and (max-width: 992px) {
    font-size: 1.25rem;
  }
}

p {
  font-family: "EB Garamond", sans-serif;
  color: var(--bruin);
  font-size: 1.5rem;
  @media screen and (max-width: 992px) {
    font-size: 1.2rem;
    margin-block: 0.5rem;
  }
}

.button {
  transition: transform 0.5s ease;
  font-family: "IM Fell DW Pica", sans-serif;
  color: var(--licht-roze);
  border: none;
  font-size: 1.5rem;
  width: 420px;

  height: 70px; /* Fixed height */
  min-height: 54px;
  text-align: center; /* Center text horizontally */
  display: flex; /* Use flexbox */
  align-items: center; /* Center text vertically */
  justify-content: start; /* Center text horizontally */
  background-size: 150% 150%; /* Changed to exact fit */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-color: transparent; /* Add this */
  background-position: 50%; /* Adjusted to push more towards bottom */
  padding-inline-start: 2.5rem;

  @media screen and (max-width: 992px) {
    padding-inline-start: 1.5rem;
    background-position: 55%; /* Adjusted to push more towards bottom */
    background-size: 140% 140%; /* Changed to exact fit */
    height: 65px;
    min-width: 330px;
  }
}

.button:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
.button-oranje-1 {
  background-image: url("/assets/svg/Button_1_oranje.svg");
}
.button-roze-1 {
  background-image: url("/assets/svg/Button_1_roze.svg");
}
.button-bruin-1 {
  background-image: url("/assets/svg/Button_1_bruin.svg");
}
.button-groen-1 {
  background-image: url("/assets/svg/Button_1_groen.svg");

}
.button-groen-2 {
  background-image: url("/assets/svg/Button_2_groen.svg");
  background-position: 62%;


}
.button-groen-3 {
  background-image: url("/assets/svg/Button_3_groen.svg");
}