.management-onderdelen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 12rem;
  text-align: center;
  padding: 6rem 8rem;
  img {
    width: 100%;
  }
  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0 1rem;
  }
}

.management-testimonial {
  text-align: center;
  background-image: url("/assets/svg/oranjeblok_2.svg");
  background-repeat: repeat-x;
  background-position: center 40%;
  background-size: 120% 120%;
  padding: 4rem 1rem;
  margin-block: 4rem;
  h4,
  h5 {
    color: white !important;
    margin-block: 3rem;
    @media screen and (max-width: 992px) {
      margin-block: 1rem;
    }
  }
  @media screen and (max-width: 992px) {
    background-size: 180%;
    background-position: 20% 30%;
    padding: 2rem 1rem;
    margin-block: 2rem;
  }
}

.afspraak-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    color: var(--bruin);
  }
}
